/* Layout container */

/* Header styling */
.header {
  background-color: #ffffff;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Left side (logo + nav) */
.navLeft {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  background-color: #ff0000;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

/* Menu links */
.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktopMenu {
  display: flex;
  gap: 16px;
}

.mobileMenu {
  display: none;
}

.menuIcon {
  font-size: 20px;
  color: #f45334;
}

@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }
}

.navItem {
  font-size: 16px;
  color: #232323;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navItem:hover {
  color: #f45334;
}

/* Right side (avatar) */
.navRight {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: #f45334;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Page content */
.content {
  padding: 32px;
}

.drawerMenu {
  padding: 0;
}


.categoryLabel {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.subCategory {
  margin-left: 16px;
  padding-left: 8px;
  border-left: 1px dashed #ccc;
}

.categoryLabel:hover{
  background-color: #fdd8d165;
  color: #272727
}